.why {
  text-align: center;
  background: $gray;
  padding-top: 3em;
  padding-bottom: 1.5em;
  .copy {
    margin-bottom: 4em;
  }
  &__item {
    .copy {
      margin-bottom:2em;
      // font-size:1em;
    }
    img {
      margin-bottom: 1em;
    }

  }
}
