@import "../sass/globales";
@import "../sass/header";
@import "../sass/hero";
@import "../sass/menu";
@import "../sass/why";
@import "../sass/latestArticles";
@import "../sass/footer";

:root {
  font-size: 16px;
}
body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  color: $grayBlue;
}
.copy {
  line-height: 1.7;
  font-size: 0.9em;
}

.wrapper {
  padding: 0 1.5em;
  max-width: 1115px;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}
@mixin title {
  font-size: 2.2em;
  color: $darkBlue;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin: bottom 0.5em;
  padding-top: 0.8em;
}
.title {
  &__h1 {
    @include title;
  }
  &__h2 {
    @include title;
    font-size: 1.5em;
    // border: 1px solid red;
  }
  &__h3 {
    @include title;
    font-size: 1em;
    // border: 1px solid red;
  }
}
.button {
  border: none;
  border-radius: 20px;
  padding: 1em 2.7em;
  color: $white;
  font-size: 1em;
  background-image: linear-gradient(to right, $limeGreen 0%, $rightCyan);
}
@mixin icon {
  width: 25px;
  height: 25px;
  background: no-repeat;
  display: inline-flex;
}
.icon {
  &__facebook {
    @include icon;
    background-image: url("../imagenes/icon-facebook.svg");
  }
  &__youtube {
    @include icon;
    background-image: url("../imagenes/icon-youtube.svg");
  }
  &__twitter {
    @include icon;
    background-image: url("../imagenes/icon-twitter.svg");
  }
  &__pinterest {
    @include icon;
    background-image: url("../imagenes/icon-pinterest.svg");
  }
  &__instagram {
    @include icon;
    background-image: url("../imagenes/icon-instagram.svg");
  }
}
