.header {
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  align-self: center;
}
.header .button {
  display: none;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .header .button {
    display: inline;
  }
  .header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  text-align: center;
  padding-bottom: 5em;
  background: #fafafa;
}
.hero .copy {
  margin-bottom: 2.5em;
}
.hero__image {
  height: 300px;
  margin: 0 calc(-1 * 1.5em);
  background: url("../imagenes/image-mockups.png") center bottom no-repeat, url("../imagenes/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin-bottom: 1.2em;
}
@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
    background: url("../imagenes/bg-intro-desktop.svg") left 650px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    box-sizing: border-box;
  }
  .hero__content {
    position: relative;
    display: grid;
    align-items: center;
    min-height: 550px;
    grid-template-columns: 370px 1fr;
    grid-template-areas: "description image";
  }
  .hero__image {
    grid-area: image;
    min-height: inherit;
    position: absolute;
    width: 500px;
    left: 0;
    top: 0;
    height: 768px;
    background: url("../imagenes/image-mockups.png") left bottom no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .hero__image {
    width: 730px;
    left: 150px;
    top: 0;
    background: url("../imagenes/image-mockups.png") left bottom no-repeat;
    background-size: 100%;
  }
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__button {
  width: 40px;
  height: 40px;
  background: url("../imagenes/icon-hamburger.svg") no-repeat center;
}
.menu a {
  text-decoration: none;
  color: #9698a6;
  padding: 0 1em;
}
.menu__item {
  display: flex;
  align-items: center;
}
.menu__checkbox {
  display: none;
}
.menu__checkbox:checked ~ .menu__button {
  background: url("../imagenes/icon-close.svg") no-repeat center;
}
.menu__checkbox:checked ~ .menu {
  display: block;
  position: absolute;
  top: 100%;
  padding: 1em;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #2d314d 0%, transparent 90%);
}
.menu__checkbox:checked ~ .menu .menu__item:first-of-type a {
  padding-top: 2em;
  border-radius: 0.5em 0.5em 0 0;
}
.menu__checkbox:checked ~ .menu .menu__item:last-of-type a {
  padding-bottom: 2em;
  border-radius: 0 0 0.5em 0.5em;
}
.menu__checkbox:checked ~ .menu a {
  background: white;
  padding: 0.8em 1em;
  color: #2d314d;
  font-size: 1.1em;
  display: block;
  text-align: center;
  flex: 1;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }
  .menu__button {
    display: none;
  }
}

.why {
  text-align: center;
  background: #f3f4f6;
  padding: 5em 0;
}
.why .copy {
  margin-bottom: 4em;
}
.why__item .copy {
  margin-bottom: 2em;
}
.why__item img {
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .why {
    text-align: left;
  }
  .why__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .why__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.latestArticles {
  background: #fafafa;
  padding: 5em 0;
}
.latestArticles .title__h1 {
  text-align: center;
  margin-bottom: 0.5em;
}
.latestArticles__grid {
  display: grid;
  grid-row-gap: 2em;
}
.latestArticles__item {
  border-radius: 0.5em;
  overflow: hidden;
  background: white;
}
.latestArticles__item-content {
  padding: 1.8em;
}
.latestArticles__item small {
  color: #9698a6;
  margin-bottom: 1em;
}
.latestArticles__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media screen and (min-width: 768px) {
  .latestArticles {
    text-align: left;
  }
  .latestArticles .title__h1 {
    text-align: left;
  }
  .latestArticles__item-content {
    padding: 1em;
  }
  .latestArticles__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .latestArticles__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: #2d314d;
  color: white;
  padding: 2em 0;
  text-align: center;
}
.footer svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
}
.footer__link {
  display: block;
  color: #f3f4f6;
  text-decoration: none;
  margin-bottom: 2em;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  gap: 1em;
  justify-content: center;
  margin: 2.5em;
}
.footer__copyright {
  color: #9698a6;
  margin-top: 2.5em;
}
@media screen and (min-width: 1024px) {
  .footer .wrapper {
    display: grid;
    grid-column-gap: 7em;
    grid-template-columns: 200px 1fr 400px;
    grid-template-areas: "logo links button" "social links copyright";
  }
  .footer__links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
  .footer__logo {
    grid-area: logo;
    margin: initial;
  }
  .footer__social {
    grid-area: social;
  }
  .footer__button {
    grid-area: button;
    text-align: right;
  }
  .footer__copyright {
    grid-area: copyright;
    text-align: right;
  }
}

:root {
  font-size: 16px;
}

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  color: #9698a6;
}

.copy {
  line-height: 1.7;
  font-size: 0.9em;
}

.wrapper {
  padding: 0 1.5em;
  max-width: calc(1115px + 1.5em);
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.title__h1 {
  font-size: 2.2em;
  color: #2d314d;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin: bottom 0.5em;
  padding-top: 0.8em;
}
.title__h2 {
  font-size: 2.2em;
  color: #2d314d;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin: bottom 0.5em;
  padding-top: 0.8em;
  font-size: 1.5em;
}
.title__h3 {
  font-size: 2.2em;
  color: #2d314d;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin: bottom 0.5em;
  padding-top: 0.8em;
  font-size: 1em;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 1em 2.7em;
  color: white;
  font-size: 1em;
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da);
}

.icon__facebook {
  width: 25px;
  height: 25px;
  background: no-repeat;
  display: inline-flex;
  background-image: url("../imagenes/icon-facebook.svg");
}
.icon__youtube {
  width: 25px;
  height: 25px;
  background: no-repeat;
  display: inline-flex;
  background-image: url("../imagenes/icon-youtube.svg");
}
.icon__twitter {
  width: 25px;
  height: 25px;
  background: no-repeat;
  display: inline-flex;
  background-image: url("../imagenes/icon-twitter.svg");
}
.icon__pinterest {
  width: 25px;
  height: 25px;
  background: no-repeat;
  display: inline-flex;
  background-image: url("../imagenes/icon-pinterest.svg");
}
.icon__instagram {
  width: 25px;
  height: 25px;
  background: no-repeat;
  display: inline-flex;
  background-image: url("../imagenes/icon-instagram.svg");
}/*# sourceMappingURL=styles.css.map */